@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  background-color: #eeee;
}

form ::placeholder{
  color: white;
  font-size: 16px;
}

.image{
  object-position: 0% 35%;
}

.image2{
  object-position: 0% 70%;
}

@media(max-width: 480px){
  .image{
    object-position: initial;
  }

  .image2{
    object-position: 0% 80%;
  }
}


.hero {
  height: max-content;
}

.form{
  background-image: url('../src/Assets/logo-blue.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1000px;
}

.form{
  background-color: rgba(11,61,89, 0.9);
}

@media(max-width: 468px){
  .form{
    background-size: 400px;
  }
}


.footer {
  margin: 10rem auto 5rem;
}

.policy p {
  margin: 1rem 0;
}

.policy h2 {
  font-size: 24px;
  color: #244886;
  font-weight: 600;
}

.policy ul {
  padding-left: 1rem;
  list-style-type: disc;
  width: 75%;
  margin: 0 auto 1rem;
}

.policy a {
  color: #244886;
}

@media (max-width: 700px) {
  .policy h2 {
    font-size: 20px;
  }

  .policy ul {
    width: 100%;
  }

  .policy li {
    margin: 0 0 0 1rem;
  }

  .policy p,
  .policy h2 {
    padding: 0 1rem;
  }

  .policy h1 {
    padding: 1rem 0 1rem 1rem;
  }
}

.student, .internships{
  background-image: url('../src/Assets/students.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.students, .internship{
  background-color: rgba(11,61,89, 0.95);
}
    .policy h1{
        padding: 1rem 0 1rem 1rem;
    }

/* .testimonials{
    background-image: url('../src/Assets/house.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding: 3rem 0 1rem 0;
}

@media(max-width: 700px){
    .testimonials{
        padding: 1rem 0;
    }
} */

